#addpost{
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}
#nav{
    width: 100%;
    height: 50px;
    display: flex;
    background-color: #fff;
    border-bottom: 1px solid black;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
#nav h2{
    font-size: 18px;
    width: auto;
    display: flex;
    align-items: center;
    gap: 10px;
}
#nav button{
    padding: 10px;
    border-radius: 5px;
    background-color: #005eff;
    color: #fff;
    outline: none;
    border: none;
}
#cancelbutton{
    cursor: pointer;
    font-size: 22px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width:40px;
    height: 40px;
}
#profile{
    padding:0px 10px ;
    width: 100%;
    height: 60px;
    background-color: #fff;
    display: flex;
    align-items: center;
    gap: 10px;
}
#profile p{
    color: #005eff;
    font-size: 20px;
}
#profile #imgdiv{
    border: 3px solid rgb(118, 118, 255);
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
#profile #imgdiv img{
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#postform{
    width: 100%;
    min-height: 200px;
    background-color: #fff;
}
#postform input{
    padding: 10px;
    width: 100%;
    outline: none;
    border: none;
    font-size: 20px;
}
#background{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 10px 0px;
}
.bg{
    background-color: blue;
    width: 34px;
    height: 34px;
    border: 2px solid gray;
    border-radius: 10px;
}
#addpostnode{
    width: 100%;
}
#addpostnode button{
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    background-color: #fff;
}
#addpostnode button:hover{
    background-color: rgb(215, 246, 255);
}