*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
}
nav{
    padding-top: 5px;
    height: 85px;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: #fff;
    z-index: 100;
}
nav #nav-left{
    font-size: 20px;
    width: 37%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav-left h2{
    color: #005eff;
}
#nav-left #na-leftdiv{
    width: 10%;
    display: flex;
    justify-content: space-between;
}
#na-leftdiv i{
}
#nav-center{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:37% ;
    height: 100%;
}
#nav-center a{
    width: 15%;
    height: 100%;
    text-decoration: none;
    border-bottom: 3px solid #005eff;
    display: flex;
    justify-content: center;
    align-items: center;
}
#nav-center a i{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#nav-right{
    width: 25%;
    background-color: red;
    height: 100%;
}
#main{    
    width: 38%;
    background-color: rgb(238, 238, 238);
    display: flex;
    justify-content: center;
}